

.prev-banner{
  position: relative;
  bottom: 21rem;
  width: 42px;
  bottom: 11rem;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-items: center;
  padding-left: 1rem;
  left: 13.7rem;
  background-color: gray;
}

.next-banner{
  position: relative;
  bottom: 21rem;
  width: 42px;
  bottom: 13.7rem;
  border-radius: 50%;
  height: 42px;
  left: 68rem;
  padding-left: 1rem;
 background-color: gray;
 display: flex;
 justify-items: center;

}
.prev-collection{
  position: relative;
  right: 15.5rem;
  opacity: .5;
}

.next-collection{
  position: relative;
  right: 15.5rem;
  opacity: .5;
}

.collection-slider{
  width: 45rem;
}


.slick-slider .slick-dots {
  bottom: .25rem;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slick-slider .slick-dots li {
  display: inline-block;
  margin: 0 -3px 0 -3px;
}


.slick-slider .slick-dots li button{
  border: 0;
  background: grey;
  text-indent: -9999px;
  overflow: hidden;
  width: 8px;
  height: 8px;
  font-size: 0;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  outline: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slick-slider .slick-dots li.slick-active button {
  background: #ffffff;
}
